*:focus {
  outline: none;
}

label {
  width: 100%;
  select {
    width: 100%;
  }
}

.p-absolute{
  position: absolute !important;
}

.p-fixed{
  position: fixed !important;
}

.p-static{
  position: static !important;
}


.width-100{
  max-width: 100%;
}

[class*="-selector"] {
  border: 1px solid gray;
}
